@import "tailwindcss";

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.2s ease forwards;
  }
  
  .highlight-pdf {
    color: var(--color-green-600);
    font-weight: 600; 
  }

  /* #__next-build-watcher,
nextjs-portal,
iframe#__nextjs-dev-overlay {
  display: none !important;
} */